<template id="footer-template">
<div class="container py-2">
	<div class="row justify-content-center">
		<div class="col-sm-4 col-md-3 text-center text-md-start d-flex flex-column">
			<h3 class="fs-6 fw-bold my-3">Navigation</h3>
			<ul class="list-unstyled">
				<li><a href="index.html">Home</a></li>
				<li><a href="socials.html">Socials</a></li>
			</ul>
		</div>
		<div class="col-sm-4 col-md-3 text-center text-md-start d-flex flex-column">
			<h3 class="fs-6 fw-bold my-3">Projects</h3>
			<ul class="list-unstyled">
				<li><a href="seedra_project.html">Seedra</a></li>
				<li><a href="seedra_engine_project.html">Seedra Engine</a></li>
				<li><a href="converter_project.html">Legacy Converter</a></li>
				<li><a href="lmm_project.html">Legacy Minecraft Mapper</a></li>
				<li><a href="tascade_project.html">Tascade</a></li>
			</ul>
		</div>
		<div class="col-sm-4 col-md-3 d-flex flex-column align-items-center align-items-md-end">
			<span class="my-3 disclaimer">DISCLAIMER</span>
			<p class="text-center text-md-end info-text">I am not associated with or endorsed by Mojang, 4J Studios, Microsoft, Sony, or Nintendo.</p>
		</div>
	</div>
	<hr />
	<div class="d-flex justify-content-center align-items-center pt-3">
		<p class="info-text">Copyright © 2026 Daniel Losso-Kiss | No AI was used in the making of this website</p>
	</div>
</div>
</template>
