<template id="navbar-template">
<nav id="mainNav" class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
        <img class="logo-fluid" src="assets/img/portfolio_logo.png" />
        <a class="navbar-brand d-flex align-items-center" href="index.html">
			Daniel LK
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#projects-nav">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="projects-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Projects</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="seedra_project.html">Seedra</a>
                        <a class="dropdown-item" href="seedra_engine_project.html">Seedra Engine</a>
                        <a class="dropdown-item" href="converter_project.html">Legacy Converter</a>
                        <a class="dropdown-item" href="lmm_project.html">Legacy Minecraft Mapper</a>
                        <a class="dropdown-item" href="tascade_project.html">Tascade</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="socials.html">Socials</a></li>
            </ul>
        </div>
    </div>
</nav>
</template>
